<h1 class="title">Teller View</h1>
<div class="main">
  <section class="display">
    <!-- Display: Customer information except for when inquiring about transaction -->
    <div>
      <h3>Customer Information</h3>
      <p>Customer Name: {{ bankService.account.fname }} {{ bankService.account.lname }}</p>
      <p>Age: {{ bankService.account.age }}</p>
      <p>Address: {{ bankService.account.address.street }}<br>
        {{ bankService.account.address.city }},
        {{ bankService.account.address.state }} {{ bankService.account.address.zip }}<br>
        {{ bankService.account.address.country }}
      </p>
      <br><br>
      <!-- Display: if inquiring about transactions -->
      <h3>Last 3 Transactions</h3>
      <div *ngIf="transactionsAsked">
        <ul class="transactions" *ngFor="let transaction of transactions | slice:-3">
          <li>[{{transaction.date}} | ${{transaction.amount}} | {{transaction.type}}]</li>
        </ul>
      </div>
    </div>
  </section>
  <aside class="options">
    <section class="balance">
      <!-- Display customer balance -->
      <p>${{bankService.account.balance}}</p>
    </section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li class="options-item change">
        <button (click)="withdraw()" [disabled]="!value"><span>Withdrawal for Customer</span></button>
      </li>
      <li class="options-item change">
        <button (click)="deposit()" [disabled]="!value"><span>Deposit for Customer</span></button>
      </li>
      <li class="options-item information">
        <button (click)="transactionsRequest()"><span>Customer Transaction History</span></button>
      </li>
    </ul>
    <input type="text" [(ngModel)]="value" (keypress)="isNumber($event)"/>
  </aside>
</div>
